/* Style pour le sélecteur de produits */
#ProductList {
    background: #93c5fd;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 20px;
    color: black;
    padding: 20px;
}

#ProductSelect{
    font-size: 18px;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    border: 2px solid black;
    margin: 20px;
    cursor: pointer;
    width: 400px;
    background: #cccccc;
}

/* Style pour les informations de produit */
.product-info {
    display: none;
}

#ProductInfo.has-number {
    font-size: 18px;
    background-color: #e0ecfb;
    width: 500px;
    margin-left: 140px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
}

#ProductInfo h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-decoration-line: underline;
}

#ProductInfo p {
    margin-bottom: 2px;
    padding: 10px;
}

#ProductInfo label {
    display: inline;
    margin-right: 10px;
    text-decoration-line: underline;
}

#BtnModifier {
    background-color: dodgerblue;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#BtnModifier:hover {
    background-color: #175b52;
}

h4{
    font-style: italic;
    color: #142d4c;
    margin-top: 7px;
    margin-bottom: -7px;
}