
table{
    border-collapse:  collapse;
    margin :  auto;
    text-align: center;
    font-family:  Charcoal, sans-serif;
}
td , th {
    border: 4px solid #333;
    width: 200px;
}
#PorductList {
     position: absolute;
     top: 30%;
     left: 50%;
     transform: translate(-50%, -50%);
    border-width:5px;
    border-radius:10px;
    border-color: black;
    background: #93c5fd;
    padding:30px;
    margin: 50px auto 50px;
    color:black;
    font-family: Arial;
 }

#BtnModifier {
    background-color:dodgerblue;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#BtnModifier:hover {
    background-color: #175b52; /* couleur de fond au survol */
}