{% extends "Layouts/body.html.twig" %}

{% block main_title %}
    {{ parent() }} : Mailing
{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/Layouts/Forms.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/Vue/Products/mailnbproduct.css') }}" type="text/css">
{% endblock%}

{% block vue %}
    <div class="box">
        <form method="post">
            <h3 >Recevez un mail avec le nombre de produit en stock !</h3>
            <div class="container">
                <label> Adresse Mail</label>
                <label>
                    <input type="email" name="mail">
                </label>
            </div>
            <button type="submit" value="Valider"> Valider</button>
        </form>

        <div class="section">
            <p>Le saviez-vous ? Les <a href="https://fr.wikipedia.org/wiki/Grand_cachalot" target="_blank">Cahcalots</a> dorment debout.</p>
        </div>
    </div>
{% endblock %}

{#

/********************************************/
/*          PROJET TECHNOLOGIE WEB 2        */
/*     AL NATOUR MAZEN && CAILLAUD TOM      */
/********************************************/

#}