{# Template racine (niveau 1) générique #}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>{% block title_page %}H4 Immobilier{% endblock %}</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ asset('css/Layouts/base.css') }}" type="text/css">
        <link rel="icon" href="{{ asset('images/Logo/Siteicon.png') }}">
        {% block stylesheet %}{% endblock %}
    </head>
    <body>
        <h1>{% block main_title %}H4Immo - Shop {% endblock %}</h1>
        {% block body %}
        {% endblock %}
    </body>
</html>


{#

/********************************************/
/*          PROJET TECHNOLOGIE WEB 2        */
/*     AL NATOUR MAZEN && CAILLAUD TOM      */
/********************************************/

#}