{# Template racine (niveau 1) générique #}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title_page %}H4 Immobilier{% endblock %}</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ asset('css/Layouts/base.css') }}" type="text/css">
        {% block stylesheet %}{% endblock %}
        {% block js %}{% endblock %}

    </head>
    <body>
        <h1>{% block main_title %}H4Immo - Shop {% endblock %}</h1>
        {% block body %}
        {% endblock %}
    </body>
</html>