<p>
     C'est un joli footer n'est-ce pas ? Je pourrai mettre "Consulter les conditions générales"
    Mais non Ce n'est pas un site Officiel et en plus je n'ai pas envie 👀.
</p>


{#

/********************************************/
/*          PROJET TECHNOLOGIE WEB 2        */
/*     AL NATOUR MAZEN && CAILLAUD TOM      */
/********************************************/

#}