
h1{
    text-align: center;
    color: #9fd3c7;
    font-family: "Book Antiqua", serif;
    border-radius: 10px;
    border-color: #175b52;
    width: 750px;
    margin: 10px auto;
    background: linear-gradient(to right bottom, cornflowerblue, dodgerblue);
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right bottom, #142d4c, #385170);
    width: 100vw;
    height: 103vh;
    font-family: 'Lexend Deca', sans-serif;
    color: #878787;
    text-align: center;

    --menu-item-size: 40px;
    --green-color: #6796e5;
    --blue-color: #099c95;
    --white-color: #FFF;
    --gray-color: #EDEDED;
    --container-width: 700px;
    --container-height: 400px;
    --line-offset: calc((100% - var(--container-height))/ 2 + var(--menu-item-size) + 0.6em);
}


